@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    height: 100%;
    text-align: center;
    width: 100%;
    background-color: #f5f4f0;
}

button{
    font-size: 300%;
    margin: 0 5vw;
    cursor: pointer;
}

#battle-field{
    height: 90%;
    width: 100%;

}

#player-area{
    float: left;
    padding-left: 20vw;
}

#computer-area{
    padding-left: 25vw;
}

#computer-area, #player-area{
    line-height: 75%;
    width: 30%;
    margin: auto auto 0;
    
}

img{
    width: 20vw;
    height: 30vh;
}

p{
    font-size: 100%;
}


#scores{
    height: 30%;
    width: 100%;
}

.message{
    font-size: 150%;
}

h3{
  font-size: 150%;
  display: inline-block;
  padding: 10vw;
}

ul{
    font-size: 120%;
    list-style-type: disc;
}






