@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

section{
    display: block;
}

h1{
    font-size: 5vw;
}

button{
    font-size: 7vw;
    margin: 0 3vw;
    cursor: pointer;
    background-color: inherit;
}

#games-area{
    font-size: 2vw;
    display: block;
}

#player-area{
    float: left;
    padding-left: 15vw;
}

#computer-area{
    padding-left: 35vw;
}

#computer-area, #player-area{
    line-height: 75%;
    width: 30%;
    height: 20%;
    margin: auto auto 0;
    
}

img{
    width: 80%;
    height: auto;
    display: block;
    padding-left: 10%;
}

p{
    font-size: 4vw;
}

.main-img{
    width: 150%;
    height: auto;
    position: relative;
    left: -27vw;
}

.message{
    font-size: 5vw;
    padding-bottom: 6vh;
}

h3{
  font-size: 3vw;
  display: inline-block;
  padding: 0 10vw;
}

.won{
    color: green;
}

.lost{
    color: red;
}

#player-score, #computer-score{
    color: black;
}






